<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
    <!--jquery-->
    <script defer src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    
    <!-- Compiled and minified JavaScript -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--lcons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"

    <!--static script-->
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/script.js"></script>
    <title>Document</title>
</head>
<body>
   <header class="red lighten-1">
     <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Job Guru<i class="large material-icons">business_center</i></a>
      <a data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        
        <li><a href="/">Home</a></li>
        <li><a href="/gigs">All jobs</a></li>
        <li><a href="/gigs/add">Add profile</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/">Home</a></li>
    <li><a href="/gigs">All jobs</a></li>
    <li><a href="/gigs/add">Add profile</a></li>
  </ul>
   </header>

    
    <main>
      <div class="container">
      {{{body}}}
    </div>
    </main>

    <footer class="red lighten-1">
         <div class="container ">
            <div class="row">
              <div class="col l6 s12">
                <p class="white-text">Designed & Developed by- Debayan Debnath</p>
              </div>
              <div class="col l6 s12 right-align">
                <br>
                <a href="https://debnathdebayan.netlify.app/" class="waves-effect waves-light btn-small">Contact me</a>
              </div>
            </div>
          </div>
    </footer>

</body>
</html>

