body{
    background-image: url('/img/computer-desk-electronics-keyboard-238118.jpg');
    min-height: 100vh;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


main {
    flex: 1 0 auto;
}
.icon{
    color: white;
}

